body {
	background-color: #ccc;
	margin-top: 25px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 150px;		
}

a {
	text-decoration: underline;
}


#title, .subtitle, .post_title {
	color: blue;
	text-transform: capitalize;	
}

#title {
	font-size: 35px;
}

.post_title {
	font-size: 16px;
	font-style: italic;
}

article {
	background-color: #fff;
	padding: 10px;
	border: 3px solid #000;
	border-radius: 5%;
	font-family: Verdana;
	font-size: 14px;	
}

.tux {
	width: 250px;
	height: 300px;
	border: 1px solid #000;
	border-radius: 5%;
	border-top-width: 15px;
	background-color: #000;
}

#title_footer {
	color: purple;
	font-size: 18px

}

#image {
	align-items: center;
}

#footer_left {
	float: left;
	border: 3px solid #000;
	padding-left: 25px;	
	padding-right: 25px;	
	border-radius: 50%;
	background-color: yellow;
}

ul {
	list-style-type: "✔";
}

footer {	
	position: fixed;  	
  	bottom: 0px;
  	width: 100%;
  	background-color: transparent;
  	color: black;

}