body {
	background-color: #ccc;
	margin-top: 25px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 150px;		
}

a {
	text-decoration: underline;
}


#title, .subtitle, .post_title {
	color: blue;
	text-transform: uppercase;	
}

#title {
	font-size: 35px;
}

.post_title {
	font-size: 14px;
	font-style: italic;
}

article {
	background-color: #fff;
	padding: 10px;
	border: 3px solid #000;
	border-radius: 5%;
	font-family: Verdana;
	font-size: 12px;	
}

.tux {
	width: 250px;
	height: 300px;
	border: 1px solid #000000;
	border-radius: 5%;
	border-top-width: 15px;
	background-color: #000;
}


#image {
	align-items: center;
}

footer {	
	position: fixed;  	
  	bottom: 1px;
  	width: 100%;
  	background-color: #ccc;
  	color: black;
  	text-align: center;

}